Repository NTI-Gymnasieingenjor/stillhetens-spa: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, tests, htmlValidator, cssValidator

pages:
  stage: deploy
  script:
  - mkdir .public
  - cp -r ./public/* .public
  - mv .public public
  artifacts:
    paths:
    - public

tests:
  stage: test
  script:
  - cd tests/webtests
  - python3 run.py

htmlValidator:
  stage: test
  script:
  - cd tests/validation
  - python3 htmlValidator.py

cssValidator:
  stage: test
  script:
  - cd tests/validation
  - python3 cssValidator.py

Changed file name
  tests/webtests/__pycache__/infoTest.cpython-38.pyc
  tests/webtests/infoTest.py
  tests/webtests/run.py
Due: tests

Update README.md
  README.md
Due: none

Tests
  .gitignore
  .vscode/settings.json
  Pytest.py
  public/index.html
  tests/webtests/__pycache__/infoTest.cpython-38.pyc
  tests/webtests/infoTest.py
  tests/webtests/run.py
Due: pages, tests, htmlValidator

Update dokumentation.md
  dokumentation.md
Due: none

Site info
  public/assets/less/dist/style.css
  public/assets/less/style.less
  public/index.html
  tests/webtests/__pycache__/infoTest.cpython-38.pyc
  tests/webtests/infoTest.py
Due: pages, tests, htmlValidator, cssValidator

Lade till sektion om hur man skapar tester.
  dokumentation.md
Due: none

Fixed the run.py test to terminate the server without killing python
  tests/webtests/__pycache__/infoTest.cpython-38.pyc
  tests/webtests/run.py
Due: tests

Fixed python3 not working in Windows
  tests/webtests/__pycache__/infoTest.cpython-38.pyc
  tests/webtests/run.py
Due: tests

removed unused files and __pycache__
  Pytest.py
  tests/webtests/__pycache__/infoTest.cpython-38.pyc
Due: tests

Deleted .vscode/settings.json
  .vscode/settings.json
Due: none

Created tests for social media icons and integrated them into the website
  public/index.html
  tests/webtests/infoTest.py
  tests/webtests/run.py
  tests/webtests/socialmediaTest.py
Due: pages, tests, htmlValidator

Styled the social media links to be centered and correctly colored
  public/assets/less/dist/style.css
  public/assets/less/style.less
  public/index.html
Due: pages, tests, htmlValidator, cssValidator

Fixed instagram backgrounc-clip not validating
  public/assets/less/dist/style.css
  public/assets/less/style.less
Due: pages, tests, cssValidator

Better succeeded message
  tests/validation/cssValidator.py
  tests/validation/htmlValidator.py
Due: pages, htmlValidator, cssValidator

Actually succeeded message + failed message
  tests/validation/cssValidator.py
  tests/validation/htmlValidator.py
Due: pages, htmlValidator, cssValidator

Fixed small changes from backlog like comments, unused imports, Spa => spa and the initial openDays test
  public/index.html
  tests/webtests/infoTest.py
  tests/webtests/openDaysTest.py
  tests/webtests/run.py
  tests/webtests/socialmediaTest.py
Due: pages, tests, htmlValidator

Fixed infoTest to match Spa => spa
  tests/webtests/infoTest.py
Due: tests

Removed whitespace, added and centered openDays in html and less/css
  public/assets/less/dist/style.css
  public/assets/less/style.less
  public/index.html
  tests/webtests/infoTest.py
  tests/webtests/openDaysTest.py
  tests/webtests/run.py
  tests/webtests/socialmediaTest.py
Due: pages, tests, htmlValidator, cssValidator

Fixed small changes from backlog like comments, unused imports, Spa => spa and the initial openDays test
  public/assets/less/dist/style.css
  public/assets/less/style.less
  public/index.html
  tests/webtests/infoTest.py
  tests/webtests/openDaysTest.py
  tests/webtests/run.py
  tests/webtests/socialmediaTest.py
Due: pages, tests, htmlValidator, cssValidator

added comments
  tests/validation/cssValidator.py
Due: pages, cssValidator

Commented python code @Emil,@Albin,@Erik
  tests/validation/cssValidator.py
  tests/validation/htmlValidator.py
  tests/webtests/infoTest.py
  tests/webtests/openDaysTest.py
  tests/webtests/run.py
  tests/webtests/socialmediaTest.py
Due: pages, tests, htmlValidator, cssValidator

Changed the title and the main content fonts
  public/assets/less/dist/style.css
  public/assets/less/style.less
  public/index.html
Due: pages, tests, htmlValidator, cssValidator

test
  public/index.html
Due: pages, tests, htmlValidator

Fixed small changes from backlog like comments, unused imports, Spa => spa and the initial openDays test
  public/assets/alex-bertha-Jyg7xHRmXiU-unsplash.jpg
  public/assets/less/dist/style.css
  public/assets/less/style.less
  public/index.html
  tests/webtests/infoTest.py
  tests/webtests/socialmediaTest.py
Due: pages, tests, htmlValidator, cssValidator

Path conditions:
  pages: any of: public/**/*, tests/validation/*
  tests: any of: public/**/*, tests/webtests/**/*
  htmlValidator: any of: public/*.html, tests/validation/htmlValidator.py
  cssValidator: any of: public/assets/less/dist/*.css, tests/validation/cssValidator.py
