Repository NTI-Gymnasieingenjor/stillhetens-spa: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, tests, htmlValidator, cssValidator

.gitlab-ci.yml:

image: thevikingtech/pythonselenium:Requests

workflow:
  rules:
    - if: '$CI_COMMIT_BRANCH'

pages:
  stage: deploy
  script:
    - mkdir .public
    - cp -r ./public/* .public
    - mv .public public
  artifacts:
    paths:
      - public
  rules:
    - changes:
        - public/**/*
        - tests/validation/*
      if: $CI_COMMIT_BRANCH == "master"

tests:
  stage: test
  script:
    - cd tests/webtests
    - python3 run.py
  only:
    changes:
      - public/**/*
      - tests/webtests/**/*

htmlValidator:
  stage: test
  script:
    - cd tests/validation
    - python3 htmlValidator.py
  only:
    changes:
      - public/*.html
      - tests/validation/htmlValidator.py

cssValidator:
  stage: test
  script:
    - cd tests/validation
    - python3 cssValidator.py
  only:
    changes:
      - public/assets/less/dist/*.css
      - tests/validation/cssValidator.py

Fixed error in design
  public/index.html
Due: pages, tests, htmlValidator

Integrated Jekyll and modified the tests to account to the new site
  .gitignore
  .gitlab-ci.yml
  public/_data/openDays.yaml
  public/_data/siteInfo.yaml
  public/_includes/footer.html
  public/_includes/titlebar.html
  public/_layouts/default.html
  public/index.html
  runJekyll
  runJekyll.bat
  tests/validation/cssValidator.py
  tests/validation/htmlValidator.py
  tests/webtests/run.py
Due: pages, tests, htmlValidator, cssValidator

Fixed tests to auto build the _site folder with the site
  runJekyll
  tests/validation/cssValidator.py
  tests/validation/htmlValidator.py
  tests/webtests/run.py
Due: pages, tests, htmlValidator, cssValidator

Added anchor to footer and tests to compliment it
  tests/webtests/infoTest.py
Due: tests

Fixed bug with the anchor test in gitlab ci
  public/assets/less/dist/style.css
  public/assets/less/style.less
  public/index.html
Due: pages, tests, htmlValidator, cssValidator

Fixed jekyll not found in docker image without caching
  .gitignore
  .gitlab-ci.yml
  Gemfile
  runJekyll
Due: none

Added comment to .gitlab-ci
  .gitlab-ci.yml
Due: none

Test caching
  public/index.html
Due: pages, tests, htmlValidator

Undid changes
  public/index.html
Due: pages, tests, htmlValidator

solved depication with path for caching
  .gitlab-ci.yml
Due: none
